@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
* {
    font-family: 'Lato', sans-serif;
    /* max-width: 100%; */
    /* overflow-x: hidden; */
}

#input {
    background-image: url("https://img.icons8.com/fluent-systems-filled/24/000000/search.png");
    background-position: 10px 15px;
    background-repeat: no-repeat;
    width: 100%;
    height: 30px;
    font-size: 20px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 12px;
}

#table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#table th,
#table td {
    text-align: center;
    padding: 12px;
}

#table tr {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#table tr.header {
    background-color: #2d8cff;
    color: white;
    cursor: default;
}

#table tr:hover:not(.header) {
    background-color: #e4e4ed;
}